.template{
    background: white;
    width: 500px;
    margin: 0 auto; /*페이지 중앙에 정렬*/
    margin-top: 4rem;
    text-align: center;
}

.title{
    padding:2rem;
    font-size: 2.5rem;
    text-align: center;
    background-color: #8bc34a;
    color:white;
    font-family: Consolas, sans-serif;
}