.inputText{
    flex:1; /*다른 element 공간을 제외한 부분에 표시가 */
    font-size: 1.25rem;
    outline: none;
    border:none;
    border-bottom: 1px solid #c5f6fa;
}

.inputButton{
    margin-left: 1rem;
    background: #8bc34a;
    border-radius: 3px;
    color:white;
    cursor:pointer;
    width:25px;
    height:25px;

}